<script>
$(document).ready(function() {

	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();

	var calendar = $('#calendar').fullCalendar({
		editable: true,
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		defaultView: 'agendaDay',
		height: 500,
		slotMinutes: 15,

		loading: function(bool){
			if (bool)
				$('#loading').show();
			else
				$('#loading').hide();
		},

        // a future calendar might have many sources.
        eventSources: [{
        	url: '/schedules/calendar',        	
        	textColor: 'black',
        	ignoreTimezone: true
        }],

        timeFormat: 'HH:mm { - HH:mm} ',
        axisFormat: 'HH:mm { - HH:mm} ',
        allDayText: 'Lembretes',
        dragOpacity: "0.5",
        columnFormat: {
                         month: 'ddd',    // Mon
                         week: 'ddd d/M', // Mon 9/7
                         day: 'dddd d/M'  // Monday 9/7
                      },
        monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
        dayNames: ['Domigo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
        dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
        titleFormat: {
                       month: 'MMMM yyyy',                             // September 2009
                       week: "d [ MMM] [ yyyy]{ '&#8212;' d MMM yyyy}", // Sep 7 - 13 2009
                       day: 'dddd, d MMM , yyyy'                  // Tuesday, Sep 8, 2009
                     },
        buttonText: {
                      prev:     '&nbsp;&#9668;&nbsp;',  // left triangle
                      next:     '&nbsp;&#9658;&nbsp;',  // right triangle
                      prevYear: '&nbsp;&lt;&lt;&nbsp;', // <<
                      nextYear: '&nbsp;&gt;&gt;&nbsp;', // >>
                      today:    'Hoje',
                      month:    'Mês',
                      week:     'Semana',
                      day:      'Dia'
                    },
        selectable: true,
        select: function(start, end, allDay) {
				var title = $.prompt('Example 2',{ buttons: { Ok: true, Cancel: false } }); 
				if (title) {
					calendar.fullCalendar('renderEvent',
						{
							title: title,
							start: start,
							end: end,
							allDay: allDay
						},
						true // make the event "stick"
					);
				}
				calendar.fullCalendar('unselect');
			},
        editable: true,
        //http://arshaw.com/fullcalendar/docs/event_ui/eventDrop/
        
  });
});
</script>
<div id='calendar'></div>
