<script>
$(function(){
	$('#close').click(function(){
		$('#modal-add-specialty').modal('hide');
	});
})
</script>
<div id="modal-add-specialty" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Adicionar Especialidade</h3>
	</div>
	<%= form_tag(add_specialty_dentist_path, :method => 'post', :remote => true) do %>
	<div class="modal-body">
		<%= hidden_field_tag :dentist_id, dentist_id %>
		<div class="clearfix">
			<label for="xlInput"Selecione uma especialidade</label>
			<div class="input">
				<%= select_tag :specialty_id ,  options_from_collection_for_select(Specialty.all, :id, :name), {:class => "xlarge"}%>
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<a href="#" id="close" class="btn">Cancelar</a>
		<input type="submit" class="btn btn-primary" value="Adicionar">
	</div>
	<% end -%>
</div>