<h3>Especialidades</h3>
  <a data-toggle="modal" href="#modal-add-specialty">Adicionar</a>
  <table class="table table-striped table-bordered ">
    <thead>             
      <th>#</th>   
      <th>Especialidade</th>
      <th class="last">&nbsp;</th>
    </thead>                         
    <tbody>
     <% dentist.dentist_specialties.each do |s| -%>
     <tr>
      <td><%=s.specialty.id%></td>
      <td><%=s.specialty.name%></td>
      <td>
        <%= link_to "#{t("bootstrap-rails.delete", :default => "Delete")}", remove_specialty_dentist_path(s), :remote => true, :method => :post, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </td>
    </tr>
    <% end -%>
  </tbody>
</table>